:root
{
    /* Cores Principais */
    --CorPrincipal: #1447E6;
    --CorPrincipalEscura: #193CB8;
    --CorPrincipalClara: #155DFC;

    /* Detalhes de Letras */

        /* Texto contra fundo azul */
        --DetalheAzul: #1C398E;

        /* Texto contra fundo verde */
        --DetalheVerde: #0D542B;

        /* Texto contra fundo amarelo */
        --DetalheLaranja: #A65F00;

        /* Texto de elemento cinza */
        --DetalheCinza: #364153;

    /* Cores Neutras */

        /* h2, fundo do footer */
        --CorPreta: #1E2939;

        /* Parágrafos */
        --CorCinzaEscura: #1E2939;

        /* Parágrafo do footer */
        --CorCinza: #99A1AF;

    /* Cores Extras */

        /* Borda Verde */
        --FundoVerde: #00A63E;
        --bordaVerde: #00A63E;

        /* Borda Roxo */
        --BordaRoxo: #9810FA;
        --FundoRoxo: #9810FA;

        /* Borda Laranja */
        --BordaLaranja: #FF6900;
        --FundoLaranja: #FF6900;

        /* Borda Amarela */
        --BordaAmarela: #FFF085;
        --FundoAmarelo: #FFF085;

        /* Borda Azul clara */
        --BordaAzulClara: #BEDBFF;
        --FundoAzulClaro: #BEDBFF;

        /* Borda Verde Clara */
        --BordaVerdeClara: #B9F8CF;
        --FundoVerdeClara: #B9F8CF;
}

body
{
    margin: 0;
    padding: 0;
}

/* parte do menu lateral */

aside
{
    width: 288px;
    background-color: var(--CorPrincipalEscura);
    color: white;
    gap: 24px;
    padding: 16px 0 26px 0;
}

aside div.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
}

aside img
{
    width: 60px;
    height: 60px;
    margin-left: 19px;
    border-radius: 50%;
}

aside div.logo h1
{
    font-size: 1.53rem;
}



aside hr
{
    border: 3px;
    height: 5px;
    background-color: #ffffff;
}

aside section strong,h2
{
    margin-left: 34px;
}

li
{
    list-style-type: none;
}

/* parte do footer */

footer
{
    width: 100%;
    background-color: var(--CorPreta);
    padding: 20px;

    min-height: 240px;
}

/* ROW */

footer .row
{
    display: flex;
}

/* ÁREA DA LOGO */

.footer-logo
{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* LOGO */

.footer-logo img
{
    width: 64px;
    height: 64px;

    border-radius: 50%;
}

/* ÍCONES */

.social-icons
{
    display: flex;
    gap: 12px;
}

.social-icons i
{
    color: white;

    font-size: 22px;

    cursor: pointer;

    transition: 0.3s;
}

.social-icons i:hover
{
    transform: scale(1.1);
    opacity: 0.8;
}

/* ÁREA DAS PÁGINAS */

.footer-pages
{
    color: white;
}

/* TÍTULO */

.footer-pages h3
{
    font-size: 18px;

    margin-bottom: 16px;
}

/* LISTA */

.footer-pages ul
{
    list-style: none;

    padding: 0;
    margin: 0;
}

/* ITENS */

.footer-pages li
{
    margin-bottom: 10px;
}

/* LINKS */

.footer-pages a
{
    text-decoration: none;

    color: var(--CorCinza);

    transition: 0.3s;
}

.footer-pages a:hover
{
    color: white;
}