.centralizar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.btn {
    font-size: 1.2rem;
}

#Comecar {
    color: var(--CorPrincipal);
}

#verDenuncias {
    border: 2px solid white;
    background-color: var(--CorPrincipalClara);
}

#verDenuncias:hover {
    background-color: var(--CorBranco);
}

@media (max-width: 1024px) {
    .centralizar {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        font-size: 1rem;
    }
}