/* parte do menu lateral */

aside
{
    width: 288px;
    background-color: var(--CorPrincipalEscura);
    color: white;
    gap: 24px;
    padding: 16px 0 26px 0;
    min-height: 100vh;
}

aside div.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
}

aside img
{
    width: 60px;
    height: 60px;
    margin-left: 19px;
    border-radius: 50%;
}

aside div.logo h1
{
    font-size: 1.53rem;
}

section#adm ul li
{
    margin: 38px;
}

section#pagina ul li{
    margin: 38px;
}

section#add ul li
{
    margin: 38px;
}

aside hr
{
    width: 219px;
    margin: 1.5rem auto 0 auto;
}

aside section strong,h2
{
    margin-left: 34px;
}

li
{
    list-style-type: none;
}

