:root {
    /* Cores principais */
    /* ---------------- */

    --CorPrincipal:         #1447E6; /* Header */
    --CorPrincipalEscura:   #193CB8;
    --CorPrincipalClara:    #155DFC;

    /* Detalhes de letra */
    /* ----------------- */

    --DetalheAzul:          #1C398E; /* Texto contra fundo azul */
    --DetalheVerde:         #0D542B; /* Texto contra fundo verde */
    --DetalheLaranja:       #A65F00; /* Texto contra fundo amarelo */
    --DetalheCinza:         #364153; /* Texto em elemento cinza */

    /* Cores neutras */
    /* ------------- */

    --CorPreta:             #1E2939; /* h2, fundo do footer */
    --CorCinzaEscura:       #4A5565; /* Parágrafos */
    --CorCinza:             #99A1AF; /* Parágrafo do footer */
    --CorCinzaClaro:        #E9F0FF; /* Fundo não-focado */
    --CorBranco:            #FFFFFF; /* h1, Fundo focado */

    /* Cores extras */
    /* ------------ */

    --BordaVerde:           #00A63E;
    --FundoVerde:           #F0FDF4;
    --BordaRoxo:            #9810FA;
    --FundoRoxo:            #FAF5FF;
    --BordaLaranja:         #FF6900;
    --FundoLaranja:         #FFEDD4;
    --BordaAmarela:         #FFF085;
    --FundoAmarelo:         #FEFCE8;
    --BordaAzulClara:       #BEDBFF;
    --FundoAzulClaro:       #EFF6FF;
    --BordaVerdeClara:      #B9F8CF;
    --FundoVerdeClara:      #F0FDF4;
}