<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Feed de denuncias</title>


    <link rel="stylesheet" href="../style/style.css"> <link>
    <link rel="stylesheet" href="../style/feed.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header id="header"></header>
        
    <main class="FeedDenuncias">

        <section class="ContainerFeed">

            <!-- TÍTULO DA PÁGINA -->
            <h2>Feed de Denuncias</h2>

            <!-- FILTROS DAS DENUNCIAS -->
            <div class="ContainerFiltros">

                <h3>Filtro</h3>

                <div class="Filtros">

                    <input type="text" placeholder="Busca.">
                    <input type="text" placeholder="Busca.">
                    <input type="text" placeholder="Busca.">

                </div>

            </div>

            <!-- FEED DE DENUNCIAS -->
            <div class="ContainerDenuncias">

                <!-- PRIMEIRO CAD -->
                <div class="CardDenuncia Azul">

                    <div class="InfoDenuncia">

                        <div class="TopInfo">

                            <span class="Numero">
                                # 2255510
                            </span>

                            <span class="Status StatusAzul">
                                Em andamento
                            </span>

                        </div>

                        <h3>Buraco grande na rua das Florestas</h3>

                        <span class="Categoria">
                            Buraco na via
                        </span>

                        <p>
                            Buraco profundo causando risco...
                        </p>

                        <div class="RodapeInfo">

                            <span>
                                Rua das Flores, 123, Centro
                            </span>

                            <span>
                                10/05/2024, 14:30
                            </span>

                        </div>

                    </div>

                    <!-- ESSE É O QUADRADO VAZIO DAS DIVS -->
                    <div class="ImagemDenuncia"></div>

                </div>

                <!-- SEGUNDO CARD -->
                <div class="CardDenuncia Verde">

                    <div class="InfoDenuncia">

                        <div class="TopInfo">

                            <span class="Numero">
                                #2024051402
                            </span>

                            <span class="Status StatusVerde">
                                Resolvido
                            </span>

                        </div>

                        <h3>Poste de luz queimada</h3>

                        <span class="Categoria">
                            Iluminação
                        </span>

                        <p>
                            Poste sem iluminação há mais...
                        </p>

                        <div class="RodapeInfo">

                            <span>
                                Avenida Principal, 456, Jardim América
                            </span>

                            <span>
                                08/05/2024, 09:15
                            </span>

                        </div>

                    </div>

                    <!-- ESSE É O QUADRADO VAZIO DAS DIVS -->
                    <div class="ImagemDenuncia"></div>

                </div>

                <!-- TERCEIRO CAD -->
                <div class="CardDenuncia Amarelo">

                    <div class="InfoDenuncia">

                        <div class="TopInfo">

                            <span class="Numero">
                                #2024051403
                            </span>

                            <span class="Status StatusAmarelo">
                                Pendente
                            </span>

                        </div>

                        <h3>Lixo acumulado na esquina</h3>

                        <span class="Categoria">
                            Coleta de Lixo
                        </span>

                        <p>
                            Acúmulo de lixo na esquina há 4 dias...
                        </p>

                        <div class="RodapeInfo">

                            <span>
                                Rua Santos Dumont, 789, Vila Nova
                            </span>

                            <span>
                                12/05/2024, 16:45
                            </span>

                        </div>

                    </div>

                    <!-- ESSE É O QUADRADO VAZIO DAS DIVS -->
                    <div class="ImagemDenuncia"></div>

                </div>

            </div>

        </section>

    </main>




    <footer id="footer"></footer>

    <!-- __________________________________________ -->
    <script src="../Funcionalidades/PuxarAcessibilidade.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>