<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fala Votorantim - Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/HomePage.css">
</head>

<body>

    <header id="header"></header>

    <div class="Wrapper">
        <div class="container">
            <h1>Ajude a melhorar Votorantim</h1>
            <h3>
                Encontrou algum problema na
                cidade? Denuncie buracos,
                iluminação quebrada, lixo
                acumulado e outros problemas
                urbanos de forma rápida,
                segura e anônima.
            </h3>

            <div class="centralizar">
                <button type="button" class="btn btn-light" id="Comecar">Começar agora</button>
                <button type="button" class="btn btn-outline-light" id="verDenuncias">Ver denúncias</button>
            </div>
        </div>
    </div>

    <footer id="footer"></footer>

    <!-- __________________________________________ -->
    <script src="../Funcionalidades/PuxarAcessibilidade.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>